extends layout

block content
  div.box
    h2 IMPORTANT
    p The OAuth app is not verified yet, meaning the program doesn't work yet.
    p The download link has a password for now. That password is "pass".
  div.box
    h2 Gmail Manager Godot
    p A desktop email client built with Godot that allows users to read and send emails through their Gmail account after granting permission through Google OAuth.
    p
    p Intended to be used in conjunction with a regular email client, this program makes it easier to message multiple people at once.
    p See conversations between you and someone else in a text chat format and more features.
    p In its current state, there features missing, but hopefully you'll get some use from it.
  div.box
    p The program needs you to log into your Google account for it to access the email tied to it.
    p You accept the following terms by using the program.
    a.bySide(href="pp") Privacy Policy
    a.bySide(href="tos") Terms of Service
    p Contact email: naradoxy@gmail.com
  div.box
    h2 Download here
    a(href="https://naradoxy.itch.io/gmail-manager-godot") Itch page (free download)
