extends layout

block content
  div.box
    h2 Information collected
    p This program accesses all your emails once permission is granted. The user explicitly authorizes the collection of the data through Google OAuth.
    p The application uses Google Gmail API services to access email data authorized by the user.
  div.box
    h2 How information is used
    p Email data is used solely to read / display and send emails while using the program. All data usage is within the program while it is running.
    p Email data is retrieved directly from Google Gmail API services and is not transmitted to any servers controlled by the developer.
  div.box
    h2 Data storage
    p Email data retrieved by the program is stored in memory while it is running.
    p For application functionality and organization, some email data, refresh tokens, and other application data may be stored locally on the user's device in JSON format.
    p No such data is stored on developer-controlled servers.
  div.box
    h2 Data sharing
    p The application does not sell, transfer, or share user email data with third parties.
    p The developer does not access, monitor, or review user email data.
  div.box
    h2 Revoking access
    p Users may revoke access at any time through their Google Account permissions settings.
  div.box
    h2 Contact information
    p naradoxy@gmail.com
