extends layout

block content
  div.box
    h2 Acceptance
    p By using this program, you agree to these terms.
  div.box
    h2 No Warranty
    p The program is provided "as is" without warranties.
  div.box
    h2 Limitation of Liability
    p The developer is not responsible for damages arising from use of the program.
  div.box
    h2 Usage
    p Users are responsible for complying with applicable laws and email service provider policies while using the program.
  div.box
    h2 Changes
    p Terms may be updated in the future.
  div.box
    h2 Contact
    p naradoxy@gmail.com 
